
.window-body {
    padding: 25px;
    font-size: 12pt;
}

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.wrapper_load {
  overflow: hidden;
}

.first_window .wrapper_load {
  float: left;
}

.second_window .wrapper_load {
  float: left;
}


audio {

}


.clippit-box {
  position: fixed;
  bottom: 10cm;
  right: 7cm;
  width: 30em;
  height: 30em;
  background-color: #FFFDC7;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 1em;
  font-size: 11pt;
  z-index: 100;
}

.second .clippit-box  {
  width: 20em;
  height: 18em;
}
.second .wrapper{
  padding: 1rem;
}

.popup-window {
  width: 100%;
  max-width: 400px;
  height: 300px;
  position: absolute;
  display: none;
  flex-direction: column;
}

.popup-upper {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.popup-close {
  cursor: pointer;
}

.popup-middle {
  padding: 0.8rem 2rem;
  display: flex;
  align-items: center;
}

.error-warning {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid #000000;
  background-color: #ff0000;
  border-radius: 100%;
  margin-right: 1rem;
}

.popup-lower {
  padding: 0.8rem 2rem;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.popup-button {
  padding: 0.2rem 2rem;
  background-color: #E0E0E0;
  cursor: pointer;
}

.popup-button:hover {
  background-color: #D6D6D6;
}

.message {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #E0E0E0;
  display: none;
}

.message-inner {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  padding: 2rem;
  background-color: #E0E0E0;
}

.shortmessage {
  text-align: center;
  position: fixed;
  top: 100px;
  left: 50%;
  margin-left: -230px;
}



.textlink {
  margin-right: 2rem;
}

@media screen and (max-width: 600px) {
  .message-inner {
    font-size: 2.8rem;
  }
}
