@font-face {
  font-family: Roboto;
  src: url(ressources/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(ressources/fonts/Roboto-Bold.ttf);
}

body {
  background: #8CADA7;
  font-size: 1.3rem;
  font-family: Roboto;
  min-height: 100vh;
  margin: 0;
}

h1, h2, h3 {
  font-family: Roboto-Bold;
  max-width: 100%;
}

h1 {
  margin-bottom: 1rem;
}

.container {
  max-width: 1100px;
  width: 96%;
  margin: auto;
  display: flex;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
  width: 100%;
}

.font-big {
  font-size: 1.6rem;
}

.startseite-wrapper {
  justify-content: center;
  align-items: center;
}

.image-startseite {
  max-width: 100%;
  height: 600px;
}

.link-wrapper {
  margin-top: 2rem;
}

.link {
  position: relative;
  color: #000000;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
 .link::after {
   content: "";
   height: 3px;
   width: 100%;
   position: absolute;
   bottom: 0;
   left: 0;
   background-color: #FFE462;

 }

 .link:hover {
   background-color: #FFE462;
 }
