@font-face {
  font-family: Roboto;
  src: url(ressources/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(ressources/fonts/Roboto-Bold.ttf);
}

body {
  background: #8CADA7;
  font-size: 1.3rem;
  font-family: Roboto;
  min-height: 100vh;
  margin: 0;
}

h1, h2, h3 {
  font-family: Roboto-Bold;
  max-width: 100%;
}

h1 {
  margin-bottom: 1rem;
}

.container {
  max-width: 1100px;
  width: 96%;
  margin: auto;
  display: flex;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
  width: 100%;
}

.font-big {
  font-size: 1.6rem;
}

.startseite-wrapper {
  justify-content: center;
  align-items: center;
}

.image-startseite {
  max-width: 100%;
  width: 650px;
}

.link-wrapper {
  margin: 2rem 0;
}

.link {
  position: relative;
  color: #000000;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.link::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFE462;
}

.link:hover, .link-active {
  background-color: #FFE462;
}

.button {
  border: 1px solid #000;
  padding: 0.6rem 1rem;
  background-color: #A3A3A3;
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: #707070;
  color: #fff;
}

.placeholder {
  width: 100%;
  height: 500px;
  border: 1px solid #000;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder-big {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 100;
}

.hidden {
  display: none;
}
