
.window {
  margin: 50px;
  width: 600px;
  height: 400px;
  background: black;
  padding: 10px;
}

.clippit {
  position: fixed;
  bottom: 10cm;
  right: 7cm;
  width: 30em;
  height: 20em;
  background-color: #FFFDC7;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 1em;
  font-size: 11pt;
}

.clippit-box {
  position: fixed;
  bottom: 10cm;
  right: 7cm;
  width: 30em;
  height: 30em;
  background-color: #FFFDC7;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 1em;
  font-size: 11pt;
}



.mail-popup {
  position: absolute;
  left: 50%;
  bottom: 50px;
  margin-left: -150px;
  margin-top: -75px;
  width: 300px;
  height: 150px;
  background-color: #fff;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.popup-upper, .popup-lower {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.fadein {
  opacity: 1;
}

.display {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}


.mail-header {
  padding: 1rem;
  border-bottom: 1px solid #A3A3A3;
}

.mail-header p {
  margin: 0 0 0.4rem 0;
}

.mail-body {
  padding: 1rem;
}

.link-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.positive-link {
  margin-top: 1.5rem;
  margin-right: 2rem;
}

.negative-link {
  margin-top: 1.5rem;
}

.textlink {
  margin-right: 2rem;
}
