.link-box {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.window {
  margin: 50px;
  width: 600px;
  height: 400px;
  background: black;
}

.clippit-box {
  position: fixed;
  bottom: 10cm;
  right: 7cm;
  width: 30em;
  height: 20em;
  background-color: #FFFDC7;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 1em;
  font-size: 11pt;
}
