.link-box {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.window {
  margin: 50px;
  width: 600px;
  height: 400px;
}
.window-body {
  padding: 10px;
}

.clippit-box {
  position: fixed;
  bottom: 10cm;
  right: 7cm;
  width: 30em;
  height: auto;
  background-color: #FFFDC7;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 1em;
  font-size: 11pt;
}

legend {
  font-size: 12pt;
  color: #000000;
}

table {
  width: 100%;

}
