
body {
  background: rgb(0, 133, 33);
}

.video-container {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container{
  display:flex;
  justify-content: space-around;
}
.card{
  width:10%;
}
.video {
  width: 100%;
}
.msg{
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-16rem;
  margin-top:-10rem;
  font-size:8rem;
  font-weight: bold;
  color:black;
  z-index: 2;
  background-color: yellow;
  padding: .5em;
  border-radius: 25px;
  animation:blinkingText 2s infinite;
}

@keyframes blinkingText{
  0%{     color: #000;background-color:yellow;    }
  100%{   color: yellow; background-color:black;    }
}

.fadeout {
  opacity: 0;
  transition: opacity 1s linear;
}

.end {
  opacity: 0;
  transition: opacity 5s linear;
  color: #000;
  z-index:100;
  position:absolute;
  top:75%;
  right:0;
}

.fadein {
  opacity: 1 !important;
  transition: opacity 1s linear;
}

.fade1, .fade2 {
  opacity: 0;
  transition: opacity 2s linear;
}

.fade1 {
  font-size: 5rem;
  border-bottom: 2px solid #000;
}

.fade2 {
  color: #000;
  margin-top: 2rem;
  font-size: 3rem;
}

.link {
  color: #000;
}

.link:hover {
  color: #000;
}

.link-box {
  display: flex;
  justify-content: center;
}

.show {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .fade1 {
    font-size: 3rem;
  }
  .fade2 {
    font-size: 2.2rem;
  }
}