.link-box {
  display: flex;
  justify-content: center;
}

.confirm-link, .textlink {
  margin-right: 2rem
}

.clippit-box {
  position: fixed;
  bottom: 10cm;
  right: 7cm;
  width: 30em;
  height: auto;
  background-color: #FFFDC7;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 1em;
  font-size: 11pt;
}

.window {
  margin: 50px;
  width: 800px;
  height: 400px;
}
image {
  padding: 1px;
}

.window-body {
  padding: 0;

}

img {
  width: flex;
}
