.content-container {
  opacity: 0;
  transition: opacity 1s linear;
}

.fadeout {
  opacity: 0;
  transition: opacity 1s linear;
}

.fadein {
  opacity: 1 !important;
  transition: opacity 1s linear;
}

.hidden {
  display: none;
}
.popup-antivirus {
  position: absolute;
  width: 300px;
  max-width: 100%;
  height: 200px;
  bottom: 25px;
  left: 50%;
  margin-left: -175px;
  border: 2px solid #000;
  background-color: #fff;
  opacity: 0;
  transition: 0.5s linear;
}

.popup-upper {
  text-align: center;
}

.popup-lower {
  display: flex;
}

.button {
  margin: 1rem;
}

.window {
  margin: 100px;
  width: 600px;
}

.window-body {
  padding: 10px;
  font-size: 12pt;
}

.clippit-box {
  position: fixed;
  bottom: 10cm;
  right: 7cm;
  width: 30em;
  height: auto;
  background-color: #FFFDC7;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 1em;
  font-size: 11pt;
}

@media screen and (max-width: 992px) {
  .window {
    margin: 0;
    width: 100%;
    max-width: 600px;
    order: 1;
  }
  .clippit {
    order: 2;
    margin-top: 1rem;
  }
  .clippit-box {
    position: static;
    width: 100%;
    max-width: 600px;
    height: 200px;
  }
  .clippit-box-kante::after {
    border: 0
  }
  .clippit-img {
    margin-top: 1rem;
    position: static;
    float: right;
  }
  .clippit-img > img {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .clippit-img > img {
    max-height: 200px;
  }
  .wrapper {
    padding: 1rem;
  }
}
