body {
  background-color: #fff;
  color: #fff;
  display: flex;
  align-items: center;
  background-image: none;
}

.fade1, .fade2, .fade3, .fade4 {
  opacity: 0;
  transition: opacity 2s linear;
}

.fade1 {
  font-size: 5rem;
  border-bottom: 2px solid #fff;
}
#canvas {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-color: #fff;
}
.fade2, .fade3 {
  margin-top: 1rem;
  font-size: 4rem;
}

.fade4 {
  color: #fff;
  margin-top: 2rem;
  font-size: 3rem;
}

.link {
  color: #fff;
}

.link:hover {
  color: #000;
}

.link-box {
  display: flex;
  justify-content: center;
}

.show {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .fade1 {
    font-size: 3rem;
  }
  .fade2, .fade3 {
    font-size: 2.6rem;
  }
  .fade4 {
    font-size: 2.2rem;
  }
}
