.window {
  margin: 50px;
  width: 600px;
  height: 400px;
  background: black;
}


.clippit-box {
  position: fixed;
  bottom: 10cm;
  right: 7cm;
  width: 30em;
  height: auto;
  background-color: #FFFDC7;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 1em;
  font-size: 11pt;
  padding: 10px;
}

.login {
  display: flex;
  justify-content: center;
}

.loginform {


  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 100%;
}

.loginfield {
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  padding: 0.4rem 0.6rem;
  font-family: Roboto;
  font-size: 1rem;
  max-width: 600px;
}

label {
  font-size: 1rem;
}

.submit {
  padding: 0.4rem 0.6rem;
  font-family: Roboto;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.login-button {
  display: flex;
  justify-content: space-between;
}

.login-forgot:first-child {
  font-size: 1rem;
}

.login-forgot:hover {
  color: #000;
}

.link-box {
  display: flex;
  justify-content: center;
}

.textlink {
  margin-right: 2rem;
}

.link-custom {
  width: 200px;
}

@media screen and (max-width: 992px) {
  body {
    padding: 2rem 0;
  }
  #draggable {
    margin: 0 1rem;
  }
  .window {
    margin: 0;
    width: 100%;
    max-width: 600px;
    order: 1;
  }
  .clippit {
    order: 2;
    margin: 1rem;
  }
  .clippit-box {
    position: static;
    width: auto;
    max-width: 600px;
    height: auto;
  }
  .clippit-box-kante::after {
    border: 0
  }
  .clippit-img {
    margin-top: 1rem;
    position: static;
    float: right;
    margin-bottom: 2.5rem;
  }
  .clippit-img > img {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .clippit-img > img {
    max-height: 200px;
  }
  body {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 475px) {
  .taskleiste {
    display: none;
  }
  .clippit-img {
    margin-bottom: 1rem;
  }
}
