.window {
  margin: 50px;
  width: 600px;
  height: 400px;
  background: black;
}


.clippit-box {
  position: fixed;
  bottom: 10cm;
  right: 7cm;
  width: 30em;
  height: 20em;
  background-color: #FFFDC7;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 1em;
  font-size: 11pt;
}


.login {
  display: flex;
  justify-content: center;
}

.loginform {


  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 100%;
}

.loginfield {
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  padding: 0.4rem 0.6rem;
  font-family: Roboto;
  font-size: 1rem;
  max-width: 600px;
}

label {
  font-size: 1rem;
}

.submit {
  padding: 0.4rem 0.6rem;
  font-family: Roboto;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.login-button {
  display: flex;
  justify-content: space-between;
}

.login-forgot:first-child {
  font-size: 1rem;
}

.login-forgot:hover {
  color: #000;
}

.link-box {
  display: flex;
  justify-content: center;
}

.textlink {
  margin-right: 2rem;
}
